@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Quantico&display=swap');
$font-body: "quantico";
$colour-background-starter-page: rgb(225, 225, 225);
$colour-background-play-page: rgb(206, 207, 209);
$colour-background-board: rgba(46, 49, 64, 1);
$colour-blank-spaces: rgba(229, 229, 229, 1);

* {
    font-family: $font-body;
    background-color: $colour-background-starter-page;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

.game-container {
    background-color: $colour-background-board;
}

.input-pegs {
    background-color: $colour-background-board;
}

.main__play-btn  {
    color: darkblue;
    background: hsla(141, 54%, 86%, 1);
    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
}

.main__play-game-btn {
    color: darkblue;
    background: hsla(141, 54%, 86%, 1);

    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    
    background: -moz-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    
    background: -webkit-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
}



    #blue {
        background-color: blue;
    }
    #orange {
        background-color: orange;
    }
    #green {
        background-color: green;
    }
    #pink {
        background-color: fuchsia;
    }
    #red {
        background-color: red;
    }
    #yellow {
        background-color: yellow;
    }
    #purple {
        background-color: purple;
    }
    #aqua {
        background-color: aquamarine;
    }



//stylings to be added in JS to game play board

.peg {
    background-color: rgba(229, 229, 229, 1);
}

.peg-blue {
    background-color: blue;
}

.peg-orange {
    background-color: orange;
}

.peg-green {
    background-color: green;
}

.peg-pink {
    background-color: fuchsia;
}

.peg-red {
    background-color: red;
}

.peg-yellow {
    background-color: yellow;
}

.peg-aqua {
    background-color: aquamarine;
}

// Stylings for score section

.score-peg-white {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: green;
    display: block;
}

.score-peg-red {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background-color: red;
}

