@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Quantico&display=swap');
$font-body: "quantico";
$colour-background-starter-page: rgb(225, 225, 225);
$colour-background-play-page: rgb(206, 207, 209);
$colour-background-board: rgba(46, 49, 64, 1);
$colour-blank-spaces: rgba(229, 229, 229, 1);

* {
    font-family: $font-body;
    background-color: $colour-background-starter-page;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}


.game-container {
    background-color: $colour-background-board;
}

.input-pegs {
    background-color: $colour-background-board;
    border: 1px solid rgba(159, 149, 149, 1);
}

.score-section {
    border: 1px solid rgba(159, 149, 149, 1);
    background-color: $colour-background-board;
}

.main__play-btn  {
    color: darkblue;
    background: hsla(141, 54%, 86%, 1);
    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
}

.main__play-game-btn {
    color: darkblue;
    background: hsla(141, 54%, 86%, 1);
    background: linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(141, 54%, 86%, 1) 0%, hsla(333, 73%, 85%, 1) 50%, hsla(211, 58%, 79%, 1) 100%);
}


.colour-board {
        border: solid $colour-background-board;
    }
.game-play-btns * {
        background-color: $colour-background-board;
        color: white;
    }

#blue {
        background-color: rgb(0, 21, 255);
        color: transparent;
    }
#orange {
        background-color: rgb(255, 115, 0);
        color: transparent;
    }
#green {
        background-color: rgb(144, 254, 0);
        color: transparent;
    }
#pink {
        background-color: rgb(255, 0, 161);
        color: transparent;
    }
#yellow {
        background-color: rgb(255, 251, 0);
        color: transparent;
    }
#aqua {
        background-color: rgb(0, 255, 247);
        color: transparent;
    }
#purple {
        background-color: rgb(153, 0, 153);
        color: transparent;
    }
#red{
        background-color: rgb(255, 10, 18);
        color: transparent;
    }

//stylings to be added in JS to game play board
.peg {
    background-color: rgba(229, 229, 229, 1);
}
.peg-blue {
    background-color: rgb(0, 21, 255);
}
.peg-orange {
    background-color: rgb(255, 115, 0);
}
.peg-green {
    background-color: rgb(144, 254, 0);
}
.peg-pink {
    background-color: rgb(255, 0, 161);
}
.peg-red {
    background-color: rgb(255, 10, 18);
}
.peg-purple {
    background-color: purple;
}
.peg-aqua {
    background-color: rgb(0, 255, 247);
}
.peg-yellow {
    background-color: rgb(255, 251, 0);
}


// Stylings for score section
.score-peg-white {
    display: block;
    background-color: white;
}

.score-peg-red {
    display: block;
    background-color: red;
}


.help-modal {
    display: none;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 10px;
    padding-bottom:  10px;
}

.help-modal-content {
    background-color: #fefefe;
    border: 1px solid #888;
}

.close-help-modal{
    color: #aaa;
    float: right;
}

.close-help-modal:hover,
.close-help-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.fa-home {
    color: $colour-background-board;
    margin: 5px;
    font-size: 20px;
}

#help-btn-modal {
    margin: 5px;
}

#help-btn {
    border: none;
    margin: 5px;
}

#home-btn{
    border: none;
    margin: 5px;
}

.question-mark{
    font-family: $font-body;
    font-size: 20px;
}

.winning-modal {
    display: none;
    background-color:  $colour-blank-spaces;
    background-color:  $colour-blank-spaces;
}

.winning-modal-content {
    background-color: $colour-blank-spaces;
    border: 1px solid #888;
}

.close-winning-modal{
    color: black;
    float: right;
}

.close-winning-modal:hover,
.close-winning-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}