//grid 

.game-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr;


}

.question-marks {
    grid-column:  1/7;
    border: solid green;
}



.input-pegs {
    border: solid black;
    grid-column: 1/6;
    display: flex;
    align-items: center;
}

.score-section {
    border: solid palevioletred;
    grid-column: 6/8;
    display: flex;
}

