
.main {
    width: 100vw;
    height: 100vh;

    &__heading {
        margin-bottom: 20px;
        font-size: 26px;
    }

    &__sub-heading-how-to-play{
        margin-bottom: 15px;
        font-size: 18px;
    }

    &__paragraph {
        width: 80%;
        margin-bottom: 20px;
    }

    &__play-btn {
        padding: 10px;
        border-radius: 5px;
    }

    &__play-game-btn {
        padding: 10px;
        border-radius: 5px;
    }
}

.game-container {
    width: 85%;
    height: 70%;
    border-radius: 5px;
    @media screen and (min-width: 550px){
        max-width: 550px;
    }
}

.colour-board {

    height: 80px;

    &__colour-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
    }
}

.peg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.score-peg-white {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.score-peg-red {
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.question-mark-peg  {  
    width: 35px;
    height: 35px;
 }

.question-mark{
    font-size: 25px;
    border-radius: 50%;
}

.nav-btns {
    width: 85%;
    margin: 5px;
    padding-right: 10px;
    @media screen and (min-width: 550px){
        max-width: 550px;
    }
}

