
.main {
    width: 100vw;
    height: 100vh;

    &__heading {
        margin-bottom: 20px;
        font-size: 26px;
        @media screen and (min-width: 550px){
            font-size: 32px;
        }
    }

    &__sub-heading-how-to-play{
        margin-bottom: 15px;
        font-size: 18px;
        @media screen and (min-width: 550px){
            font-size: 26px;
        }
    }

    &__paragraph {
        width: 80%;
        margin-bottom: 20px;
        text-align: center;
        @media screen and (min-width: 550px){
            width: 600px;
        }
    }

    &__play-btn {
        padding: 10px;
        border-radius: 5px;
    }

    &__play-game-btn {
        padding: 10px;
        border-radius: 5px;
    }
}

.game-container {
    width: 85%;
    height: 70%;
    border-radius: 5px;
    @media screen and (min-width: 550px){
        max-width: 550px;
    }
}

.colour-board {

    height: 80px;

    &__colour-btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        @media screen and (min-width: 550px){
           width: 40px;
           height: 40px;
        }
    }
}

.peg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
    @media screen and (min-width: 550px){
        width: 40px;
        height: 40px;
     }
}

.score-peg-white {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    @media screen and (min-width: 550px){
       width: 20px;
       height: 20px;
    }
}

.score-peg-red {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    @media screen and (min-width: 550px){
        width: 20px;
        height: 20px;
     }
}

.question-mark-peg  {  
    width: 35px;
    height: 35px;
    @media screen and (min-width: 550px){
        width: 48px;
        height: 48px;
     }
 }

.question-mark{
    font-size: 25px;
    border-radius: 50%;
    @media screen and (min-width: 550px){
        font-size: 35px;
     }
}

.nav-btns {
    width: 85%;
    margin: 5px;
    padding-right: 10px;
        @media screen and (min-width: 550px){
        max-width: 550px;
        * {
            font-size: 30px;}
    }
}


.user-input-area {
    margin-top: 15px;
}

.colour-board {
    margin: 10px;
    border-radius: 5px;
    &__colour-btn{
        margin: 5px; 
    }
    @media screen and (min-width: 550px){
        height: 100px;
    }
}  

.game-play-btns__btns {
    border-radius: 4px;
    height: 24px;
    margin-top: 8px;
    @media screen and (min-width: 550px){
       height: 30px;
    }
}

.modal {
    border: 1px solid #888;
    padding: 15px;
    width: 45%;
    border-radius: 4px;
}

.home-replay-btns {
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}

#help-btn {
    border: none;
    margin: 5px;
}

#help-btn-modal {
    margin: 5px;
}

#home-btn{
    border: none;
    margin: 5px;
}

.reset-yes-no-btns {    
    border-radius: 5px;
    margin: 5px;
    margin-top: 15px;
}