


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    };

    &__play-game-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    };
};

//GRID
.game-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr;
}

.question-marks {
    grid-column:  1/7;
}

.input-pegs {
    border: 1px solid rgba(159, 149, 149, 1);
    grid-column: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-section {
    border: 1px solid rgba(159, 149, 149, 1);
    background-color: $colour-background-board;
    grid-column: 6/8;
    display: flex;
}

.colour-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 10px;
    background-color: darkgrey;

    &__colour-btn{
        margin: 5px;  
    }
}

.peg {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

// .score-peg-red {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  grid-template-rows: 1fr 1fr;
// }
