
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    };

    &__play-game-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    };
};

//GRID
.game-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
}

.question-marks {
    grid-column:  1/7;
}

.input-pegs {
    grid-column: 1/7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-section {
    grid-column: 7/10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.colour-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.game-play-btns{
    flex-direction: column;
    display: flex;
    }

.user-input-area {
    display: flex;
    margin-top: 15px;
    }

.help-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 30%;
    overflow: auto;
}

.help-modal-content {
    margin: auto;
    padding: 5px;
    width: 80%;
}

.nav-btns {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
}


#home-btn {
    grid-column: 6/8;
}

.winning-modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 30%;
    width: auto;
    height: auto;
    overflow: auto;
}

.winning-modal-content {
    margin: auto;
    padding: 5px;
    width: 80%;
}
