


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    &__play-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    };

    &__play-game-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    };
};

//GRID
.game-container {
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr 1fr 1fr;
    border-radius: 5px;
}

.question-marks {
    grid-column:  1/7;
}

.input-pegs {
    border: 1px solid rgba(159, 149, 149, 1);
    grid-column: 1/6;
    display: flex;
    align-items: center;
    justify-content: center;
}

.score-section {
    border: 1px solid rgba(159, 149, 149, 1);
    background-color: $colour-background-board;
    grid-column: 6/10;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.colour-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin: 10px;
    border: solid $colour-background-board;
    background-color: rgba(229, 229, 229, 1);
    border-radius: 5px;

    &__colour-btn{
        margin: 5px;  
    }
}

.peg {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

// #code-combination {
    
// }

.combination-peg  {  
    width: 35px;
    height: 35px;
 }


.question-mark{
    font-family: $font-body;
    font-size: 25px;
    border-radius: 50%;
}

// .score-peg-red {
//  display: grid;
//  grid-template-columns: 1fr 1fr;
//  grid-template-rows: 1fr 1fr;
// }
