@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Quantico&display=swap");
* {
  font-family: "quantico";
  background-color: #e1e1e1;
  font-size: 14px;
  padding: 0px;
  margin: 0px;
}

.game-container {
  background-color: #2e3140;
}

.input-pegs {
  background-color: #2e3140;
}

.main__play-btn {
  color: darkblue;
  background: #c8efd6;
  background: linear-gradient(90deg, #c8efd6 0%, #f5bdd6 50%, #aac8e9 100%);
  background: -moz-linear-gradient(90deg, #c8efd6 0%, #f5bdd6 50%, #aac8e9 100%);
  background: -webkit-linear-gradient(90deg, #c8efd6 0%, #f5bdd6 50%, #aac8e9 100%);
}

.main__play-game-btn {
  color: darkblue;
  background: #c8efd6;
  background: linear-gradient(90deg, #c8efd6 0%, #f5bdd6 50%, #aac8e9 100%);
  background: -moz-linear-gradient(90deg, #c8efd6 0%, #f5bdd6 50%, #aac8e9 100%);
  background: -webkit-linear-gradient(90deg, #c8efd6 0%, #f5bdd6 50%, #aac8e9 100%);
}

#blue {
  background-color: blue;
}

#orange {
  background-color: orange;
}

#green {
  background-color: green;
}

#pink {
  background-color: fuchsia;
}

#red {
  background-color: red;
}

#yellow {
  background-color: yellow;
}

#purple {
  background-color: purple;
}

#aqua {
  background-color: aquamarine;
}

.peg {
  background-color: #e5e5e5;
}

.peg-blue {
  background-color: blue;
}

.peg-orange {
  background-color: orange;
}

.peg-green {
  background-color: green;
}

.peg-pink {
  background-color: fuchsia;
}

.peg-red {
  background-color: red;
}

.peg-yellow {
  background-color: yellow;
}

.peg-aqua {
  background-color: aquamarine;
}

.score-peg-white {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: white;
  display: block;
}

.score-peg-red {
  border-radius: 50%;
  width: 15px;
  height: 15px;
  background-color: red;
  display: block;
}

.main {
  width: 100vw;
  height: 100vh;
}
.main__heading {
  margin-bottom: 20px;
  font-size: 26px;
}
.main__sub-heading-how-to-play {
  margin-bottom: 15px;
  font-size: 18px;
}
.main__paragraph {
  width: 80%;
  margin-bottom: 20px;
}
.main__play-btn {
  padding: 10px;
  border-radius: 5px;
}
.main__play-game-btn {
  padding: 10px;
  border-radius: 5px;
}

.game-container {
  width: 90%;
  height: 70%;
}

.colour-board__colour-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.peg {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.main__play-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main__play-game-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr 2fr 1fr 1fr;
}

.question-marks {
  grid-column: 1/7;
}

.input-pegs {
  border: 1px solid #9f9595;
  grid-column: 1/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score-section {
  border: 1px solid #9f9595;
  background-color: #2e3140;
  grid-column: 6/8;
  display: flex;
}

.colour-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 10px;
  background-color: darkgrey;
}
.colour-board__colour-btn {
  margin: 5px;
}

.peg {
  display: block;
  margin-left: 10px;
  margin-right: 10px;
}